REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: 1
Description: Everyday system shall accept a Price/Date range or location value 
Type: 9 / Functional Requirement
Rationale: User needs to enter a search value to begin property search
Originator: DB

REQ-ID: 2
Description: Everyday system shall validate the search input value
Type: 9 / Functional Requirement
Rationale: Search term must be valid to prevent errors or incorrect results
Originator: DB

REQ-ID: 3
Description: The product shall accept special arrangements for the bookings
Type: 9 / Functional Requirement
Rationale: Holidaymakers can have speacial arrangement such as a cot
Originator: Ayisha Jayakodi

REQ-ID: 4
Description: The product shall warn if the property is already booked on the desired dates to book
Type: 9 / Functional Requirement
Rationale: The product should assure that no more than one person can book the same property in certain dates
Originator: Ayisha Jayakodi

REQ-ID: GD1
Description: Visitors to the website shall be able to search for properties by selecting from search criteria including: Number of bedrooms, location, price range and facilities.
Type: 9 / Functional Requirement
Rationale: The website user should be able to quickly specify their property criteria so that they can find relevant properties.
Originator: Ayisha Jayakodi

REQ-ID: GD2
Description: The website search results shall show an overview of each property including: Photos, location information, facilities and price indicator
Type: 9 / Functional Requirement
Rationale: The customer needs to be presented relevant information on each property in the search results to allow then to quickly judge its suitability.
Originator: Ayisha Jayakodi

REQ-ID: 7
Description: The website should present agents/secretary with a user interface for entering property details
Type: Functional requirement
Rationale: The business needs the agent to document property details 
Originator: Ayisha Jayakodi
Comments: The agent must confirm that property details given by the property owner are correct during a visit 
(e.g. broken swimming pool, tv disconnected) and this should be added to the website by either the agents or the secretary

REQ-ID: 8
Description: The website should have a login facility
Type: Functional requirement
Rationale: The website must distinguish registered users and the general public
Originator: Ayisha Jayakodi (consequence of REQ-ID: 7)
Comments: This requirement is also linked to a standard website security requirement concerning user access privaleges

REQ-ID: DKR10
Description: The product shall allow the user to refine the search criteria
Type: Functional
Rationale: This is necessary to (hopefully) prevent the holidaymaker abandoning their search if the product finds no available properties matching the original criteria
Originator: DKR, Business Analyst

 
RFQ-ID: DUB001
Description: The product shall record property information.
Type: Functional
Rationale: Recording property information is necessary to make it easier for the holiday bookers to view and book their needed property.
Originator: Ayisha Jayakodi, Secretary
 
REQ-ID: AW14
Description: The product should have clear contact details, and allow easy enquiries.
Type: 9 / Functional Requirement
Rationale: It needs to be as straight forward as possible for someone viewing a property to be able to contact an Agent.
Originator: Aysha Jayakodi

REQ-ID: PS18
Description: The product shall be able to store and retrieve bookings.
Type: Functional requirement
Rationale: The bookings should be conflict-free, the booked dates of a property must not overlap. Checking for overlaps should be done by the product (new, derived requirement), which cannot be done without being able to store and retrieve bookings.
Originator: Ayisha Jayakodi (Landbnb agent)

REQ-ID: BIB20
Description: The website shall validate the property details inputted by the customer service agent.
Type: Functional Requirement
Rationale: The website is intended to display, amongst other things, the available rental properties through Landbnb. Human input errors, such as two customer service agents inputting the same property twice therefore creating a duplicate, should be avoided. 
Originator: Landbnb customer service agent (Ayisha Jayakodi)

REQ-ID: JC21
Description: The product will have a diary for each property, and have records of all existing bookings.
Type: Functional
Rationale: Each property needs its own record of bookings. It should be possible to book a property, regardless of what bookings are made at other properties.
Originator: Ayisha Jayakodi

REQ-ID: SD25
Description: The product shall accept request from owners for an agent's visit at a future date when owner will not be available him/herself.
Type: Functional Requirement
Rationale: It is important for the agency and owners to make sure that the property is in good condition and safe to rent out.
Originator: SD

REQ-ID: JS27
Description: The product shall record rental rates with associated dates for each property
Type: Functional Requirement
Rationale: The holidaymaker requires property rental cost information to make rental decisions.
Originator: SD

REQ-ID: hotrod1
Description: The product will store contact details and preferences of all prospective holidaymaker clients; if available
Type:  Functional Requirement
Rationale: For future marketing purposes
Originator: hotrodm