REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: 2
Description: Everyday system shall validate the search input value
Type: 9 / Functional Requirement
Rationale: Search term must be valid to prevent errors or incorrect results
Originator: DB

REQ-ID: 3
Description: The product shall accept special arrangements for the bookings
Type: 9 / Functional Requirement
Rationale: Holidaymakers can have speacial arrangement such as a cot
Originator: Ayisha Jayakodi

REQ-ID: 4
Description: The product shall warn if the property is already booked on the desired dates to book
Type: 9 / Functional Requirement
Rationale: The product should assure that no more than one person can book the same property in certain dates
Originator: Ayisha Jayakodi

REQ-ID: GD1
Description: Visitors to the website shall be able to search for properties by selecting from search criteria including: Number of bedrooms, location, price range and facilities.
Type: 9 / Functional Requirement
Rationale: The website user should be able to quickly specify their property criteria so that they can find relevant properties.
Originator: Ayisha Jayakodi

REQ-ID: GD2
Description: The website search results shall show an overview of each property including: Photos, location information, facilities and price indicator
Type: 9 / Functional Requirement
Rationale: The customer needs to be presented relevant information on each property in the search results to allow then to quickly judge its suitability.
Originator: Ayisha Jayakodi

REQ-ID: 8
Description: The website should have a login facility
Type: Functional requirement
Rationale: The website must distinguish registered users and the general public
Originator: Ayisha Jayakodi (consequence of REQ-ID: 7)
Comments: This requirement is also linked to a standard website security requirement concerning user access privaleges

REQ-ID: DKR10
Description: The product shall allow the user to refine the search criteria
Type: Functional
Rationale: This is necessary to (hopefully) prevent the holidaymaker abandoning their search if the product finds no available properties matching the original criteria
Originator: DKR, Business Analyst

 
RFQ-ID: DUB001
Description: The product shall record property information.
Type: Functional
Rationale: Recording property information is necessary to make it easier for the holiday bookers to view and book their needed property.
Originator: Ayisha Jayakodi, Secretary

RFQ-ID: DUB002
Description: The product shall allow user to cancel his/her booked property
Type: Functional
Rationale:The possibility of cancelling a booked property makes it easy for users to keep track of updates about the property.
Originator: Ayisha Jayakodi

REQ-ID: CS11 
Description: Product shall upload and store electronic photograph taken of the property
Type:  Functional requirement
Rationale:  Holidaymakers  Should be able to see an image of a rental property when visiting the website.
Originator:  Aysha Jayakodi
Comments: The first instance of the website will only be advertising the properties

REQ-ID: CS12
Description:   Aysha Jayakodi should be able to fill in details of the property that will be displayed with the property image on the website along with a Reference ID.    
Type:  Functional requirement.
Rationale:  Prospective holidaymakers interested in a property should be able to identify and reference the property when contacting LandBNB. 
Originator:  Aysha Jayakodi
Comments:  LandBNB can be contacted by phone or email and a reference Id will make finding the property easy.

REQ-ID: AW13
Description: The product should store booking details against each property, with dates and details of the booking
Type: 9 / Functional Requirement
Rationale: When a booking is made it needs to be stored against a property so its availabilty is clear.
Originator: Aysha Jayakodi

 
REQ-ID: AW14
Description: The product should have clear contact details, and allow easy enquiries.
Type: 9 / Functional Requirement
Rationale: It needs to be as straight forward as possible for someone viewing a property to be able to contact an Agent.
Originator: Aysha Jayakodi

RFQ-ID: DUB003
Description: The product shall produce property booking confirmation.
Type: Functional
Rationale: Property booking confirmation will serve as a contract between the holidaymaker, Landbnb and property owner.
Originator: Ayisha Jayakodi

RFQ-ID: DUB004
Description: The product shall update the status of a property
Type: Functional
Rationale: Updating the property status will make it easy to know whether the property is available or not.
Originator: Ayisha Jayakodi

REQ-ID: PS17
Description: The product shall be able to process payments of holidaymakers.
Type: Functional requirement
Rationale: Processing payments manually is error-prone. It contains a business risk of revenue loss when not handled properly. To avoid this, an automatic payment processing system is suggested.
Originator: Ayisha Jayakodi (Landbnb agent)

REQ-ID: PS18
Description: The product shall be able to store and retrieve bookings.
Type: Functional requirement
Rationale: The bookings should be conflict-free, the booked dates of a property must not overlap. Checking for overlaps should be done by the product (new, derived requirement), which cannot be done without being able to store and retrieve bookings.
Originator: Ayisha Jayakodi (Landbnb agent)

REQ-ID: BIB19
Description: The website shall allow Landbnb customer service agents to input the property information gathered from property visits and discussions with property owners to the online advert. 
Type: Functional Requirement
Rationale: As the properties covered by Landbnb change over time the website adverts need to change to reflect this. 
Originator: Landbnb customer service agent (Ayisha Jayakodi)

REQ-ID: BIB20
Description: The website shall validate the property details inputted by the customer service agent.
Type: Functional Requirement
Rationale: The website is intended to display, amongst other things, the available rental properties through Landbnb. Human input errors, such as two customer service agents inputting the same property twice therefore creating a duplicate, should be avoided. 
Originator: Landbnb customer service agent (Ayisha Jayakodi)

REQ-ID: JC21
Description: The product will have a diary for each property.
Type: Functional
Rationale: Each property needs its own record of bookings. It should be possible to book a property, regardless of what bookings are made at other properties.
Originator: Ayisha Jayakodi
 
REQ-ID: JC22
Description: The property diary will have records of all existing bookings
Type: Functional
Rationale: This data is required to ensure that the same property is not booked to more than one holiday maker at the same time.
Originator: Ayisha Jayakodi

REQ-ID: TH24
Description: The product shall record payment for property bookings
Type: Functional Requirement
Rationale: The product should assure that payment is paid or isn't paid again.
Originator: Ayisha Jayakodi

